/dts-v1/;
#include "sama5d2.dtsi"
#include "sama5d2-pinfunc.h"

/ {
	model = "Atmel SAMA5D2 Xplained";
	compatible = "atmel,sama5d2-avatar", "atmel,sama5d2", "atmel,sama5";

	chosen {
		u-boot,dm-pre-reloc;
		stdout-path = &uart1;
	};

	memory {
		reg = <0x20000000 0x80000>;
	};

	ahb {
		nand0: nand@80000000 {
			nand-bus-width = <8>;
			atmel,pmecc-cap = <4>;
		   atmel,pmecc-sector-size = <512>;
	      nand-on-flash-bbt;
		   atmel,has-pmecc;
	      nand-ecc-mode = "hw";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_nand_default>;
			status = "okay";

			at91bootstrap@0 {
				label = "at91bootstrap";
				reg = <0x0 0x40000>;
			};

			bootloader@40000 {
				label = "bootloader";
				reg = <0x40000 0x80000>;
			};

			bootloaderenv@c0000 {
				label = "bootloader env";
				reg = <0xc0000 0xc0000>;
			};

			dtb@180000 {
				label = "device tree";
				reg = <0x180000 0x80000>;
			};

			kernel@200000 {
				label = "kernel";
				reg = <0x200000 0x600000>;
			};

			rootfs@800000 {
				label = "rootfs";
				reg = <0x800000 0x0f800000>;
			};

		};

		apb {

			isc: isc@f0008000 {
				compatible = "atmel,sama5d2-isc";
				reg = <0xf0008000 0x4000>;
/*				interrupts = <46 IRQ_TYPE_LEVEL_HIGH 5>;*/
				clocks = <&isc_clk>, <&iscck>, <&isc_gclk>;
				clock-names = "hclock", "iscck", "gck";
				#clock-cells = <0>;
				clock-output-names = "isc-mck";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_isc_base
							&pinctrl_isc_data_8bit>;
				status = "okay";

			};

			hlcdc: hlcdc@f0000000 {
				atmel,vl-bpix = <4>;
				atmel,guard-time = <1>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_lcd_base &pinctrl_lcd_rgb666>;
				status = "okay";
				u-boot,dm-pre-reloc;

				display-timings {
					u-boot,dm-pre-reloc;
					480x272 {
						clock-frequency = <9000000>;
						hactive = <480>;
						vactive = <272>;
						hsync-len = <41>;
						hfront-porch = <2>;
						hback-porch = <2>;
						vfront-porch = <2>;
						vback-porch = <2>;
						vsync-len = <11>;
						u-boot,dm-pre-reloc;
					};
				};
			};

			pmc: pmc@f0014000 {
				pmc_fast_restart {
					compatible = "atmel,sama5d2-pmc-fast-startup";
					#address-cells = <1>;
					#size-cells = <0>;

					atmel,wakeup-rtc-timer;

					wkpin: input@0 {
						reg = <0>;
					};

					gmac_wol: input@10 {
						reg = <10>;
						atmel,wakeup-active-high;
					};
				};
				gck {
					isc_gclk: isc_gclk {
						#clock-cells = <0>;
						reg = <46>;
					};
				};
			};

			macb0: ethernet@f8008000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_macb0_default &pinctrl_macb0_phy_irq>;
				phy-mode = "rmii";
				status = "okay";

				ethernet-phy@1 {
					reg = <0x1>;
				};
			};

			uart1: serial@f8020000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart1_default>;
				status = "okay";
				u-boot,dm-pre-reloc;
			};

			pinctrl@fc038000 {
				/*
				 * There is no real pinmux for ADC, if the pin
				 * is not requested by another peripheral then
				 * the muxing is done when channel is enabled.
				 * Requesting pins for ADC is GPIO is
				 * encouraged to prevent conflicts and to
				 * disable bias in order to be in the same
				 * state when the pin is not muxed to the adc.
				 */
				pinctrl_adc_default: adc_default {
					pinmux = <PIN_PD23__GPIO>;
					bias-disable;
				};

				pinctrl_isc_base: isc_base {
					pinmux = <PIN_PC4__ISC_PCK>,
						 <PIN_PC5__ISC_VSYNC>,
						 <PIN_PC6__ISC_HSYNC>,
						 <PIN_PC7__ISC_MCK>;
					bias-disable;
				};

				pinctrl_isc_data_8bit: isc_data_8bit {
					pinmux = <PIN_PB25__ISC_D11>,
						 <PIN_PB24__ISC_D10>,
						 <PIN_PC3__ISC_D9>,
						 <PIN_PC2__ISC_D8>,
						 <PIN_PC1__ISC_D7>,
						 <PIN_PC0__ISC_D6>,
						 <PIN_PB31__ISC_D5>,
						 <PIN_PB30__ISC_D4>;
					bias-disable;
				};
				pinctrl_can0_default: can0_default {
					pinmux = <PIN_PC10__CANTX0>,
						 <PIN_PC11__CANRX0>;
					bias-disable;
				};

				pinctrl_can1_default: can1_default {
					pinmux = <PIN_PC26__CANTX1>,
						 <PIN_PC27__CANRX1>;
					bias-disable;
				};

				pinctrl_charger_irq: charger_irq {
					pinmux = <PIN_PB7__GPIO>;
					bias-disable;
				};

				pinctrl_charger_enable: charger_enable {
					pinmux = <PIN_PB9__GPIO>;
					bias-pull-down;
				};

				pinctrl_fuel_gauge: fuel_gauge {
					pinmux = <PIN_PB26__GPIO>;
					bias-disable;
				};

				pinctrl_classd_default: classd_default {
					pinmux = <PIN_PB1__CLASSD_R0>,
						 <PIN_PB2__CLASSD_R1>,
						 <PIN_PB3__CLASSD_R2>,
						 <PIN_PB4__CLASSD_R3>;
					bias-pull-up;
				};

				pinctrl_flx1_default: flx1_default {
					pinmux = <PIN_PA24__FLEXCOM1_IO0>,
						 <PIN_PA23__FLEXCOM1_IO1>;
					bias-disable;
				};

				pinctrl_flx4_default: flx4_default {
					pinmux = <PIN_PD12__FLEXCOM4_IO0>,
						 <PIN_PD13__FLEXCOM4_IO1>;
					bias-disable;
				};

				pinctrl_i2c1_default: i2c1_default {
					pinmux = <PIN_PD4__TWD1>,
						 <PIN_PD5__TWCK1>;
					bias-disable;
				};

				pinctrl_lcd_base: pinctrl_lcd_base {
					pinmux = <PIN_PC30__LCDVSYNC>,
						 <PIN_PC31__LCDHSYNC>,
						 <PIN_PD1__LCDDEN>,
						 <PIN_PD0__LCDPCK>;
					bias-disable;
				};

				pinctrl_lcd_pwm: pinctrl_lcd_pwm {
					pinmux = <PIN_PC28__GPIO>;
					bias-disable;
				};

				pinctrl_lcd_rgb666: pinctrl_lcd_rgb666 {
					pinmux = <PIN_PC10__LCDDAT2>,
						 <PIN_PC11__LCDDAT3>,
						 <PIN_PC12__LCDDAT4>,
						 <PIN_PC13__LCDDAT5>,
						 <PIN_PC14__LCDDAT6>,
						 <PIN_PC15__LCDDAT7>,
						 <PIN_PC16__LCDDAT10>,
						 <PIN_PC17__LCDDAT11>,
						 <PIN_PC18__LCDDAT12>,
						 <PIN_PC19__LCDDAT13>,
						 <PIN_PC20__LCDDAT14>,
						 <PIN_PC21__LCDDAT15>,
						 <PIN_PC22__LCDDAT18>,
						 <PIN_PC23__LCDDAT19>,
						 <PIN_PC24__LCDDAT20>,
						 <PIN_PC25__LCDDAT21>,
						 <PIN_PC26__LCDDAT22>,
						 <PIN_PC27__LCDDAT23>;
					bias-disable;
				};

				pinctrl_spi_gpio_default: spi_gpio_default {
					pinmux = <PIN_PA26__GPIO>,
						 <PIN_PB12__GPIO>,
						 <PIN_PB29__GPIO>;
					bias-pull-up;
				};

				pinctrl_macb0_default: macb0_default {
					pinmux = <PIN_PB14__GTXCK>,
						 <PIN_PB15__GTXEN>,
						 <PIN_PB16__GRXDV>,
						 <PIN_PB17__GRXER>,
						 <PIN_PB18__GRX0>,
						 <PIN_PB19__GRX1>,
						 <PIN_PB20__GTX0>,
						 <PIN_PB21__GTX1>,
						 <PIN_PB22__GMDC>,
						 <PIN_PB23__GMDIO>;
					bias-disable;
				};

				pinctrl_macb0_phy_irq: macb0_phy_irq {
					pinmux = <PIN_PC9__GPIO>;
					bias-disable;
				};

				pinctrl_nand_default: nand_default {
					pinmux = <PIN_PA8__NWE_NANDWE>,
						 <PIN_PA9__NCS3>,
						 <PIN_PA10__A21_NANDALE>,
						 <PIN_PA11__A22_NANDCLE>,
						 <PIN_PA12__NRD_NANDOE>,
						 <PIN_PA0__D0>,
						 <PIN_PA1__D1>,
						 <PIN_PA2__D2>,
						 <PIN_PA3__D3>,
						 <PIN_PA4__D4>,
						 <PIN_PA5__D5>,
						 <PIN_PA6__D6>,
						 <PIN_PA7__D7>,
						 <PIN_PC8__NANDRDY>;
						 /*<PIN_PA21__NANDRDY>;*/
					bias-disable;
				};

				pinctrl_sdmmc1_default: sdmmc1_default {
					cmd_data {
						pinmux = <PIN_PA28__SDMMC1_CMD>,
							 <PIN_PA18__SDMMC1_DAT0>,
							 <PIN_PA19__SDMMC1_DAT1>,
							 <PIN_PA20__SDMMC1_DAT2>,
							 <PIN_PA21__SDMMC1_DAT3>;
						bias-pull-up;
					};

					conf-ck_cd {
						pinmux = <PIN_PA22__SDMMC1_CK>,
							 <PIN_PA30__SDMMC1_CD>;
						bias-disable;
					};
				};

				pinctrl_uart1_default: uart1_default {
					pinmux = <PIN_PD2__URXD1>,
						 <PIN_PD3__UTXD1>;
					bias-disable;
				};

				pinctrl_gpio_buttons: gpio_buttons {
					pinmux = <PIN_PA31__GPIO>,
						 <PIN_PD11__GPIO>;
					bias-disable;
				};
			};
		};
	};
};
